{% extends "../layout.njk" %}

{% block head %}
    <title>Instrutores</title>
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <table width="100%">
            <div class="head-index">
                <div>
                    <a class="button" href="/instructors/create" rel="Button to go to create page">Cadastrar novo</a>
                </div>

                <div>
                    <form action="/instructors" method="GET">
                        <div id="filter">
                            <div>
                                <input type="text" name="filter" value="{{filter}}" placeholder="Nome ou Atendimento">
                            </div>
                            <div>
                                <button class="button" type="submit">Filtrar</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <thead>
                <tr>
                    <th>Instrutores</th>
                    <th class="attendance">Atendimento</th>
                    <th>Alunos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {% for instructor in instructors %}
                <tr>
                    <td><span style="background-image: url({{instructor.avatar_url}})"></span>{{instructor.name}}</td>
                    <td class = "services">{{instructor.services}}</td>
                    <td>{{instructor.members_count}}</td>
                    <td><a href="/instructors/{{instructor.id}}">Ver</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="paginate"
        data-total = {{paginationData.totalPages}}
        data-page = {{paginationData.page}}>
    </div>


{% endblock content %}

{% block scripts %}
    <script src="/paginate.js"></script>
{% endblock  %}
