<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/" id="instructors" class="menu">Instrutores</a>
            <a href="/members" id="members" class="menu">Membros</a>
        </div>
    </header>
    {% block content %}{% endblock %}

    {% block scripts %}
    {% endblock  %}

    <script src="/menuInteraction.js"></script>
</body>
</html>

