{% extends "../layout.njk" %}

{% block head %}
    <title>Editando seu cadastro</title>
{% endblock head %}


{% block content%}

<div class="card">
    <section class="avatar" style="background-image: url({{member.avatar_url}});">
    </section>
    <section>
        <h3 class="details">Editando cadastro</h3>

        <form class="details" method="POST" action="/members?_method=PUT">
        
            {% include 'members/fields.njk'%}

            <input type="hidden" name="id" value="{{member.id}}">

            <div class="item">
                <button class="button" type="submit">Salvar</button>
            </div>

        </form>

        <form class="delete" method="POST" action="/members?_method=DELETE">
            <input type="hidden" name="id" value="{{member.id}}">
            <div class="item">
                <div><button class="button delete" type="submit">deletar</button></div>
            </div>
        </form>
    </section>
    
    {% include 'members/scriptDeleteMember.njk'%}
</div>


{% endblock content %}
